  <h2>Colors</h2>
  <p>While I'm setting this site up I am going to list my color pallette...
  <ul>
    <li>main background</li><div class="color_block" id="a">XXXX</div>
    <li>text</li><div class="color_block" id="b">XXXX</div>
    <li>sub box</li><div class="color_block" id="c">XXXX</div>
    <li>link new</li><div class="color_block" id="d">XXXX</div>
    <li>link visited</li><div class="color_block" id="e">XXXX</div>
    <li>h1 title</li><div class="color_block" id="f">XXXX</div>
  </ul>
  </p>
