<%= stylesheet_link_tag "main" %>
<div id=test>
<h1>Derek Szydlowski</h1>

<p>
This is my web site. It has some info about me, and from time to time will be a place for me to do some experiments...
<br/>
If you've arrived at this page.. it is not yet complete.. as a matter of fact is just really a place holder at this point...	
</p>

<h2>Resume</h2>

<p>http://www.linkedin.com/in/derekszydlowski </p>

<h2>Projects</h2>

<p>Some Projects I worked on</p>
<ul>
<li>JD's Revenge'</li>
<li>CyclePirates</li>
<li>NKB Motorcycles</li>
<li>Intuit Live Community</li>
</ul>

<h2>Git</h2>

<p>https://github.com/ramen74/dps<p>

<h2>Colors</h2>
<p>While I'm setting this site up I am going to list my color pallette...
<ul>
<li>#b7cedf</li>
<li>#3396b2</li>
<li>#036993</li>
<li>#174255</li>
<li>#3e2e3a</li>
</ul>
</p>

</div>

