
<div class="grid_6">
  <h2>Resume</h2>
  <p>http://www.linkedin.com/in/derekszydlowski </p>
</div>

<div class="grid_6">
  <h2>Git</h2>
  <p>https://github.com/ramen74/dps<p>
</div>

<div class="clear"></div>

<div class="grid_6">
  <h2>Projects</h2>
  <p>Some Projects I worked on</p>
  <ul>
  <li>JD's Revenge'</li>
  <li>CyclePirates</li>
  <li>NKB Motorcycles</li>
  <li>Intuit Live Community</li>
  </ul>
</div>

<div class="grid_6">
  <h2>Colors</h2>
  <p>While I'm setting this site up I am going to list my color pallette...
  <ul>
  <li>#b7cedf</li>
  <li>#3396b2</li>
  <li>#036993</li>
  <li>#174255</li>
  <li>#3e2e3a</li>
  </ul>
  </p>
</div>

<div class="clear"></div>
